:root {
  --color-primary: red;
  --color-grey: #ccc;
  --color-grey-dark: #222;
  --color-white:#fff;
  --shadow-light:0 2rem 4rem rgba(0, 0, 0, 0.1);
  --shadow-grey:0 2rem 4rem rgba(0, 0, 0, 0.2); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%; }

html {
  font-size: 62.5%; }

.home {
  margin-left: 4rem; }
  .home__wrapper {
    margin: 2rem 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase; }
  .home__articles {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    flex-wrap: wrap;
    padding-right: 1rem; }
  .home__link {
    width: 23%;
    text-decoration: none;
    color: inherit; }

.article {
  padding: 2rem;
  height: 30rem;
  background-color: var(--color-white);
  margin-right: 0.3rem;
  margin-bottom: 2rem;
  box-shadow: var(--shadow-grey); }
  .article__photo {
    width: 100%;
    height: 70%; }
  .article__title {
    margin-top: 1rem;
    text-transform: none;
    font-size: 1.4rem;
    font-weight: 600; }
  .article__readingTime {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: none;
    color: var(--color-grey); }

.footer {
  width: 100%;
  height: 20rem;
  background-color: yellowgreen;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50rem; }

.articlePage__container {
  padding: 4rem;
  background-image: linear-gradient(to bottom, inherit, #fff); }

.articlePage__title {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem; }

.articlePage__box {
  display: flex;
  align-items: center;
  padding-left: 2rem; }

.articlePage__data {
  font-size: 1.4rem;
  color: var(--color-grey-dark);
  margin-right: 2rem; }

.articlePage__author {
  font-size: 1.6rem;
  font-weight: 600;
  margin-right: 2rem; }

.articlePage__readTime {
  font-size: 1.4rem;
  margin-right: 2rem;
  color: var(--color-grey-dark); }

.articlePage__photo {
  width: 100%;
  height: 50rem;
  margin: 4rem auto;
  background-color: orangered;
  border-radius: 5rem; }

.articlePage__context {
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: justify; }

.create_article {
  margin: 5rem; }
  .create_article-title {
    text-transform: uppercase;
    font-weight: 600;
    background-image: #fff;
    margin-bottom: 4rem; }

.loader {
  display: flex;
  justify-content: center;
  margin: 20rem auto;
  color: #110404;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0); }

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em,  2em -2em 0 0em, 3em 0 0 -1em,  2em 2em 0 -1em, 0 3em 0 -1em,  -2em 2em 0 -1em, -3em 0 0 -1em,  -2em -2em 0 0; }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,  3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,  -2em 2em 0 -1em, -3em 0 0 -1em,  -2em -2em 0 -1em; }
  25% {
    box-shadow: 0 -3em 0 -0.5em,  2em -2em 0 0, 3em 0 0 0.2em,  2em 2em 0 0, 0 3em 0 -1em,  -2em 2em 0 -1em, -3em 0 0 -1em,  -2em -2em 0 -1em; }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,  -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,  -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,  -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em; }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,  3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,  -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0; }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,  3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,  -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em; } }

.navbar {
  box-shadow: var(--shadow-grey);
  margin-bottom: 1rem; }
  .navbar__header {
    padding-left: 4rem;
    font-size: 1.6rem;
    height: 5rem;
    width: 100%;
    display: flex;
    align-self: center; }
  .navbar__title {
    display: inline-block;
    align-self: center;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 1rem; }
  .navbar__list {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 1rem;
    text-decoration: none; }
  .navbar__item {
    text-align: center;
    margin-right: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer; }
    .navbar__item-link {
      text-decoration: none;
      color: inherit; }

.about__title {
  padding: 4rem;
  text-align: center;
  font-size: 2.4rem;
  color: red; }

.about__text {
  font-size: 1.6rem;
  letter-spacing: 1.3px;
  padding: 2rem; }

.about img {
  width: 90%;
  display: block;
  margin: 4rem auto;
  border-radius: 50%;
  background-image: linear-gradient(to right top, red, green); }

.input__content {
  margin: 2rem 6rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem; }
  .input__content-label {
    margin-right: 1rem;
    font-weight: 700;
    font-size: 1.6rem; }
  .input__content-input {
    width: 85%;
    height: 3rem;
    background-color: #fff;
    border: 1px solid black;
    padding: 1rem; }
    .input__content-input:focus {
      outline: none; }
